*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bgblack{
    width: 100%;
    height: 920px;
    background-color:  rgb(85, 85, 85);
}

nav{
    position: fixed;
    width: 100%;
height: 70px;
display: flex;
padding: 0.5rem 1rem;
justify-content: space-between;
transition:1s;
}

ul{
    display: flex;
    list-style: none;
    float: right;
    padding-right: 80px;
    color: white;
}

li{

    padding: 20px;
    font-size: 1rem;
    cursor: pointer;
    height: 42px;
    transition:all 0.2s;
}

#corso-logo{
    margin: 15px;
    cursor: pointer;

}
#dropDown-content{

    background-color: white;
  position: absolute;
text-align: center;  
width:200px ;
height: 150px;
display: none;
    
}
#dropDown-content li{
    color: black;
    padding-bottom: 25px;
    transition:all 0.1s;
}

#dropDown{

    position: relative;
    display: inline-block;
    padding-top: 0 ;
    margin-top: 0;
}

li:hover{

    color: #fd7e14;
    transition: all 0.2s;
}
#dropDown-content li:hover{


    color: #fd7e14;
    transition: all 0.1s;
}

#social{
cursor: pointer;
    margin:5px;
    padding-top: 15px;
}

#navMenu{
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: 0%;
    padding-top: 0%;
}

#registerMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

#register{

    width: 750px;
    height: 400px;

}

#headTitle{

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    color: white;
}

#seoTitle{

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    color: white;
    

}

#textTitle-1{

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#textTitle-2{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    color: white;
    

}

#registerButtons{

    display: flex;
    justify-content: center;
    align-items: center;
}
#registerButton, #discoverButton{

    width: 160px;
    height: 48px;
    margin-left: 10px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    background: none;
}

#registerButton{

    background-color: #ffc107;
    color: black;
    transition: all 0.1s;   

}

#discoverButton{

    border: 2px solid #fff;
    color: white;
    transition: all 0.1s;

}


#registerButton:hover{
 background: none;
 border: 2px solid #ffc107;
 transition: all 0.1s;  
 color: #ffc107; 

}

#discoverButton:hover{

    background-color: white;
    color: black;
    transition: all 0.1s;
}

#slideShow{

    display: flex;
    justify-content: center;
    align-items: center;


}

#content{

    border-radius: 3%;
}

#yellowBg{
    width: 100%;
    height: 600px;
    background-color: #ffbd50;
}

#input-box{
    

    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    display: flex;
}
#input-box-content{

    width: 70rem;
    height: 500px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#registerInfo{

    width: 50%;
    height:400px ;
}

#input-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 400px;
}

.input-register{
    width: 450px;
    height: 50px;
    border: none;
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
}

.registerbtn{

    width: 450px;
    height: 50px;
    border-radius: 20px;
    background:none;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    transition: 0.2s;

}
.registerbtn:hover{

    transition: 0.2s;
    background-color: white;
    border: 2px solid white;

}






    




